<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qztc.parkingmanagementsystem.mapper.ICommMapper">

    <select id="selectAll" resultType="com.qztc.parkingmanagementsystem.domain.po.Point">
        select comm_id as id, geo_x as x, geo_y as y
        from sys_comm
    </select>

    <select id="selectByIds" parameterType="java.util.List" resultType="com.qztc.parkingmanagementsystem.domain.po.BCommPo">
        select comm_id, comm_name, geo_x, geo_y,addr
        from sys_comm
        where comm_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insert">
    </insert>

    <select id="selectCommByKey" resultType="com.qztc.parkingmanagementsystem.domain.po.BCommPo">
        SELECT * FROM sys_comm
        WHERE comm_name LIKE CONCAT('%', #{key}, '%')
    </select>

</mapper>
