<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qztc.parkingmanagementsystem.mapper.IParkMapper">
    <update id="updatePark">
        update sys_park
        <set>
            <if test="commId != null">comm_id = #{commId},</if>
            <if test="parkAddr != null">park_addr = #{parkAddr},</if>
            <if test="belongBy != null">belong_by = #{belongBy},</if>
            <if test="spareTime != null">spare_time = #{spareTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="rent != null">rent = #{rent},</if>
        </set>
        where park_id = #{parkId}
    </update>

    <select id="selectAllByCommunityId" resultType="com.qztc.parkingmanagementsystem.domain.po.BPark">
        select * from sys_park where comm_id = #{communityId}
    </select>

    <insert id="insertPark" >
        insert into sys_park (comm_id, park_addr, belong_by, spare_time, status, remark)
        values (#{commId}, #{parkAddr}, #{belongBy}, #{spareTime}, #{status}, #{remark})
    </insert>

    <select id="selectAll" resultType="com.qztc.parkingmanagementsystem.domain.po.BPark">
        select * from sys_park
    </select>

    <select id="selectAllByCommunityIds" resultType="com.qztc.parkingmanagementsystem.domain.po.BPark">
        select * from sys_park where comm_id in
        <foreach collection="communityIds" item="communityId" open="(" close=")" separator=",">
            #{communityId}
        </foreach>
    </select>

    <select id="selectById" resultType="com.qztc.parkingmanagementsystem.domain.po.BPark">
        select * from sys_park where park_id = #{parkId}
    </select>
    <select id="selectParkByCommIdAndparkAddr" resultType="com.qztc.parkingmanagementsystem.domain.po.BPark">
        select * from sys_park where comm_id = #{commId} and park_addr = #{parkAddr}
    </select>

    <insert id="insert">
        insert into sys_park (comm_id, park_addr, belong_by, spare_time, status, remark)
        values (#{commId}, #{parkAddr}, #{belongBy}, #{spareTime}, #{status}, #{remark})
    </insert>


</mapper>