<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qztc.parkingmanagementsystem.mapper.IUserLoginMapper">
    <insert id="reg" parameterType="com.qztc.parkingmanagementsystem.po.BUserPo">
        insert into sys_user (comm_id, user_type, username, password, nick_name, sex)
        values (#{commId}, #{username}, #{userType}, #{password}, #{nickName}, #{sex})
    </insert>
</mapper>
